@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	SessionErrors err = SessionErrors.Current;
	if (err!= null && Convert.ToBoolean(System.Web.Configuration.WebConfigurationManager.AppSettings[Ultima.InstallHelpers.ShowErrorsKey]))
	{
		<div>
		@foreach(string e in err.List)
		{
			<p style="color:red">@e</p>
		}
		</div>
	}
	SessionErrors.Reset();
}