@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="back-to-top"><span class="glyphicon glyphicon-menu-up"></span> Back to top <span class="glyphicon glyphicon-menu-up"></span></div>
<div class="container">
	<div class="row inner-fixed">
	  <div class="col-md-4">
		<span class="text-primary t-name">Information</span> <ul class="list-inline"><li>About Us</li><li>|</li><li>Contact Us</li><li>|</li><li>Terms & Conditions</li></ul>
	  </div>
	  <div class="col-md-3">
		<span class="text-primary t-name">Shopping</span> <ul class="list-inline"><li>Delivery</li><li>|</li><li>Returns</li><li>|</li><li>Payments</li></ul>
	  </div>
	  <div class="col-md-5">
		<span class="email"> Info@goodstore.com</span> 
		<span class="phone"> +331 0134 47 32</span> 
		<span class="social">
			<a href="" class="twitter"></a>
			<a href="" class="instagram"></a>
			<a href="" class="facebook"></a>
			<a href="" class="google"></a>
		</span> 
	  </div>
	</div>
	<p class="copy">&copy; 2016 GoodStore.com Ltd.</p>
</div>