@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    @{
		string title = CurrentPage.Title;
		
		try
		{
			if (CurrentPage.Name == "Good")
			{
				CProductInfo good = (CProductInfo)ViewData["good"];
				//title += " - " + ViewData["GoodID"].ToString(); // for debug
				title = good.Name + " - " + CurrentPage.Title;
			}
			else if (CurrentPage.Name == "Goods")
			{
				CCategory cat = (CCategory)ViewData["category"];
				//title += " - " + ViewData["CategoryID"].ToString(); // for debug
				if (cat.CategoryId < 0)
				{
					title = CurrentPage.Title;
				}
				else
				{
					title = cat.Category + " - " + CurrentPage.Title;
				}
				
			}
		}
		catch{}
	}
	<title>@title</title>
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/assets/css/site.css" rel="stylesheet">
    <link href="/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/css/cusel.css" rel="stylesheet">

	
  </head>