@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div>
@{
	CClientInfo info = SessionClient.GetClientInfo();
	<div>@HttpContext.Current.User.Identity.IsAuthenticated </div>
	if (IsPost)
	{
		if (Request.Form["submitLogin"] != null)
		{
			string user = Request.Form["user"].Trim();
			string pwd = Request.Form["pwd"].Trim();
			
			if (SessionClient.SignIn(user, pwd))
			{
				Response.Redirect("/");
			}
			else
			{
				SessionErrors.Add("Failed to sign in user " + user);
			}
			
		}
		else if (Request.Form["submitLogout"] != null)
		{
			SessionClient.SignOut();
			Response.Redirect("/");
		}
	}
	
	if (info == null)
	{
		SessionClient.SignOut();
	}
	
	using (Html.BeginForm())
	{
		if (HttpContext.Current.User.Identity.IsAuthenticated && info != null)
		{
			<text>welcome, <a href="/Cabinet">@info.FirstName</a> </text>
			<input type="submit" name="submitLogout" value="Logout" />
		}
		else
		{
			<div>
			Login: <input name="user" type="text"/><br/>
			Password: <input name="pwd" type="password"/><input type="submit" name="submitLogin" value="Login" />
			</div>
		}
	}
}
</div>
