@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{	
	CClientInfo info = SessionClient.GetClientInfo();
	bool loggedIn = HttpContext.Current.User.Identity.IsAuthenticated && info != null;
	string menuCaption = "Login";
	if (loggedIn)
	{
		menuCaption = info.FirstName;
		
		var attributes = new Dictionary<string, object>();
		attributes.Add("id", "logoutFromMenu");
		attributes.Add("action", "");
		using (Html.BeginForm(null, null, FormMethod.Post, attributes))
		{
			<input type="hidden" name="submitLogout"/>
		}
	}
}	
	@if ((CurrentPage.Name.ToLower() != "tuneorder" && CurrentPage.Name.ToLower() != "cabinet") || loggedIn)
	{
	if (loggedIn)
	{
		<a href="/Cabinet" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-delay="0">@menuCaption <span class="glyphicon glyphicon-menu-down"></span></a>
	}
	else
	{
		<a href="#loginForm" data-form="loginForm" class="auth-types dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-delay="0">@menuCaption <span class="glyphicon glyphicon-menu-down"></span></a>
	}

		<ul class="dropdown-menu" >
		@if (loggedIn)
		{
			<nobr><li class="sub"><a href="/Cabinet">My Account</a></li></nobr>
			<nobr><li class="sub"><a href="#" onclick="document.getElementById('logoutFromMenu').submit()">Logout</a></li></nobr>
		}
		else
		{
			<nobr><li class="sub"><a href="#loginForm" data-form="loginForm" class="auth-types">Login</a></li></nobr>
			<nobr><li class="sub"><a href="#registerForm" data-form="registerForm" class="auth-types">Registration</a></li></nobr>
			
		}	
		</ul>
	}


