@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ Html.RenderPartial("AddToBasketHandler"); }

@{
	int pageNo = 1;
	int pageSize = 10;
	int? categoryId = null;
	string sortFld = SortField.Price;
	string sortOrd = SortOrder.Asc;
	string avail = Availability.Outofstock;
	string searchQuery = String.Empty;
	DateTime DateAdded = DateTime.Now.AddDays(-1000);
	decimal? priceFrom = 0;
	decimal? priceTo = 10000000;
	int?[] brandId = null;
	string[] brandNames = Request.QueryString.GetValues("brand");
	List<CRequestFilter> filter = new List<CRequestFilter>();
	
	CCatalog catalog = null;
	try
	{
		catalog = UltimaWebService.GetCatalog(1, categoryId, sortFld, sortOrd, pageSize, pageNo,
			searchQuery, brandId, brandNames, priceFrom, priceTo, avail, filter, DateAdded);
	}
	catch {}
}

@{ 
	<div id="best-products" class="products slider">
	<h2>Best products</h2> 
	  <ul class="products-inner">
		  @{
			if (catalog != null && catalog.Products!= null)
			{
				int i = 0;
				foreach(CProduct prod in catalog.Products)
				{
					i++;
					if (i > 30)
					{
						break;
					}	
					var goodID = prod.ProdId;
					
					<li class="item">
						<div class="products-caption">
						<a href="/good/@goodID">
							<div class="img">
								<img src="/goodphoto/@goodID" alt="...">
							</div>
							<p>@prod.Name</p>
							<span class="price">
								<span class="glyphicon glyphicon-ru"></span>&euro; @UltimaWebService.GetProductPrice(goodID)</span>
						</a>
						
					  </div>
					</li>
				}
			}
		}
		
	  </ul>

	  <a class="prev-button"></a>
		<a class="next-button"></a>
	</div>
	
	
	<div id="new-products" class="products slider">
	<h2>New products</h2> 
	  <ul class="products-inner">
		  @{
			if (catalog != null && catalog.Products!= null)
			{
				int i = 0;
				foreach(CProduct prod in catalog.Products)
				{
					i++;
					if (i > 30)
					{
						break;
					}	
					var goodID = prod.ProdId;
					
					<li class="item">
						<div class="products-caption">
						<a href="/good/@goodID">
							<div class="img">
								<img src="/goodphoto/@goodID" alt="...">
							</div>
							<p>@prod.Name</p>
							<span class="price">
								<span class="glyphicon glyphicon-ru"></span> @UltimaWebService.GetProductPrice(goodID) руб.</span>
						</a>
						
					  </div>
					</li>
				}
			}
		}
		
	  </ul>

	  <a class="prev-button"></a>
		<a class="next-button"></a>
	</div>
			
}

