@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<nav class="pager">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
   
@{
	CCatalog catalog = (CCatalog)ViewData["catalog"];
    if (catalog != null)
	{
		int pg = 1;
		if(Request.QueryString["pageNo"] != null) {
			pg = int.Parse(Request.QueryString["pageNo"]);
		}
		
		
		int start = 1;
		if (( pg - 5 ) > 0)
		{
			start = (pg-5);
		}
		
		int end = catalog.PagesOverall;
		if ((pg + 5) < catalog.PagesOverall)
		{
			end = pg+5;
		}
		
		for (int k = start; k < end; k++  )
		{
			if (pg == k)
			{
				<li class="active"><a>@k</a></li>
			}
			else
			{	
				string newQuery = Request.QueryString.ToString().Replace("pageNo=" + pg, "pageNo=" + k);
				if (!newQuery.Contains("pageNo="))
				{
					newQuery += "&pageNo=" + k;
				}
				<li><a href="?@newQuery">@k</a></li>
			}
		}
	}
}
<li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>