@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	var attributes = new Dictionary<string, object>();
	attributes.Add("Id", "searchForm");

	<div>	
	<input id="queryBox" type="text" name="query"/> 
	<input type="button" name="submitSearch" value="Search" onclick="window.location.assign('/Search?query='+$('#queryBox')[0].value)"/> 
	</div>
}