@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	string query = @Request.QueryString["query"];

	<div>	
	<input id="queryBox" type="text" name="query" value="@query"/> 
	<input type="button" name="submitSearch" value="Search" onclick="window.location.assign('/Search?query='+$('#queryBox')[0].value)"/> 
	</div>
}