@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	if (true)//SessionTrace.Allowed)
	{
		SessionTrace trc = SessionTrace.Current;
		if (trc!= null)
		{
			<div>
			@foreach(string e in trc.List)
			{
				<p style="color:blue">@e</p>
			}
			</div>
		}
		SessionTrace.Reset();
	}
}