@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	SessionTrace trc = SessionTrace.Current;
	if (trc!= null && Convert.ToBoolean(System.Web.Configuration.WebConfigurationManager.AppSettings[Ultima.InstallHelpers.ShowTraceKey]))
	{
		<div>
		@foreach(string e in trc.List)
		{
			<p style="color:blue">@e</p>
		}
		</div>
	}
	SessionTrace.Reset();
}