@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}



@{
	CClientInfo info = SessionClient.GetClientInfo();
	if (info == null)
	{
		Html.RenderPartial("Login");
		Html.RenderPartial("Registration");
		Html.RenderPartial("RecoverPass");
	}
	else
	{
		var groups = new string[] { "reserves", "drafts", "shipping" };
		<div class="row">
			@{ Html.RenderPartial("CabinetHeader");}

			
					@{ Html.RenderPartial("Documents", new ViewDataDictionary { { "groups", groups } }); }
			
		</div>
	}

}
