@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@{
	CClientInfo info = SessionClient.GetClientInfo();
	<table>
		<thead>
			<th></th>
		</thead>
		<tr>
			<td></td><td></td>
		</tr>
	</table>
	
}