@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@{ Html.RenderPartial("Header"); }
@{ Html.RenderPartial("LoginHandler"); }

<body>
	@{Html.RenderPartial("NavBar"); }
	
	@{
		if (CurrentPage.Name.ToLower() == "homepage")
		{
			Html.RenderPartial("Carousel");
		}
		else
		{
		}
	}

	<section class="content">
		<div class="container">
			@RenderBody()
		</div>
	</section>

	<footer>
		@{ Html.RenderPartial("Footer");}
    </footer>
	
	@{ Html.RenderPartial("FooterScripts");}
	
	<div class="overlay"><div class="loader">Order processing...</div></div>
	
	@{
		CClientInfo info = SessionClient.GetClientInfo();
		bool loggedIn = HttpContext.Current.User.Identity.IsAuthenticated && info != null;
}

	@if (CurrentPage.Name.ToLower() != "tuneorder" || loggedIn)
	{
		<div class="overlayUser">
			@{Html.RenderPartial("Login");}
			@{Html.RenderPartial("Registration");}
			@{Html.RenderPartial("RecoverPass");}
		</div>
	}
  </body>
</html>
@{ Html.RenderPartial("ErrorsPane"); }
@{ Html.RenderPartial("TracePane"); }