@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@{Html.RenderPartial("Heading");}

@{
	System.Collections.Generic.Dictionary<int,Decimal> basket = SessionBasket.GetBasket();
	CBasketTotal basketTotal = SessionBasket.GetBasketTotal();

	bool reserveCreated = false;
	CClientInfo info = SessionClient.GetClientInfo();
	
	if (IsPost)
	{
		if (HttpContext.Current.Request["CreateReserve"]!= null)
		{
			try
			{
				long agentId = -1;
				string comments = HttpContext.Current.Request["comments"];

				
				agentId = info.Id;

				COrder order = UltimaWebService.CreateReserve(agentId, basketTotal.DeliveryAddressId, comments);

				if (order!= null && order.Id > 0)
				{
					<h1>Thank you for your order!</h1>

						<p>Your order # @order.Id </p>
						<p>You can pick up your order till @order.DeadDate.ToString()</p><br/>


						reserveCreated = true;
						SessionBasket.ClearBasket();
				}
				else
				{
				}
			}
			catch(Exception ex)
			{
				SessionErrors.Add(ex);
throw ex;
			}
		}
	}

}