@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
//	Layout = "Master.cshtml";
}

@{
	var problem = false;
	var problemMessage = string.Empty;

	if (IsPost)
	{
		if (Request.Form["recoverPass"] != null)
		{
			string email = Request.Form["email"].Trim();
			
			
			if (UltimaWebService.SendClientPasswordChangeRequest(email))
			{
				problem = true;
				problemMessage = "You've been sent an Email with password recovery instructions";
			}
			else
			{
				problem = true;
				problemMessage = "Failed to find user " + email + " in Database";
			}
			
		}
	}
	
	CClientInfo info = SessionClient.GetClientInfo();
	
	var attributes = new Dictionary<string, object>();
	attributes.Add("class", "form-horizontal recoverPassForm  authForm");
	attributes.Add("id", "recoverPassForm");
	attributes.Add("action", "");

	using (Html.BeginForm(null, null, FormMethod.Post, attributes))
	{
		<h2>PASSWORD ASSISTANCY</h2>
		<fieldset>
		
		<div class="form-group">
		  <label class="col-md-4 control-label" for="email">Email</label>  
		  <div class="col-md-4">
		  	<input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-md-4 control-label" for="submit"></label>
		  <div class="col-md-1">
			<button id="submit" name="recoverPass" class="btn btn-info">Send Password</button>
		  </div>
		</div>
		
		@{if (problem)
			{
				<div class="form-group">
				  <label class="col-md-4"></label>
				  <div class="col-md-4">
					<span data-form="recoverPassForm" class="problem auth-types">@problemMessage</span>
				  </div>
				</div>
			}
		}
	
		<div class="form-group">
		  <label class="col-md-4"></label>
		  <div class="col-md-4">
			Or <a href="#loginForm" data-form="loginForm" class="auth-types">Login</a> if you're already a registered user
		  </div>
		</div>
				
		<div class="form-group">
		  <label class="col-md-4"></label>
		  <div class="col-md-4">
			<a href="#registerForm" data-form="registerForm" class="auth-types">Registration</a>
		  </div>
		</div>

		</fieldset>
	}
}